.btn-google {
  border-radius: 3px !important;
  font-family: "Roboto" !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  font-style: normal !important;
  color: #333333 !important;
  border: 1px solid #bbb !important;
}

.google-logo-btn {
  height: 3vmin;
  padding-right: 18px;
}
